<div class="container">
  <footer class="footer">
    <small>copyright &copy; 
      <a href="https://rubyrailsapps-lscloud.c9users.io">Happy Blog</a> by 
      <a href="https://rubyrailsapps-lscloud.c9users.io/">RubyRailsApp</a>  
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>